.nckupract__app__registerpage {
  transform: scale(1.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    input {
      margin-bottom: 1rem;
    }
  }
  button {
    background-color: $register_bg;
    color: $register_txt;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0;
    transition: all 0.25s ease;
    &:hover {
      background-color: $register_bg__hover;
    }
  }
}
